body { 
  background-image: url('../Pic/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  font-size: 20px;
}

@media (min-width: 320px)  {
  body {
    width: 100vh;
  }
  .hero-section {
    margin-bottom: 40% !important;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 768px) {
  body {
    width: 100%;
  }

  .hero-section {
    margin-bottom: 0px !important;
    margin: 0px;
  }

  .title {
    display: inherit;
    flex-direction: column;
    align-items: center;
  }
}
.hero-section{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  color : #ffffff;
}

.hero-section h2{
  font-weight: bold;
  font-size:  80px;
}
.type-writer{
  font-size:  40px;
}
.skill-section{
  background-color: #181818;
  padding-top: 28px !important;
  padding-bottom: 48px !important;
  padding-left: 48px !important;
  padding-right: 48px !important;

}
.skill-section h3{
  font-size: 40px;
  color : #ffffff;
  padding-bottom: 40px;
}
.test-center{
  align-items: center;
  justify-content: center;
}
.contact {
  color: #fff;
  font-size: 20px;
}
.img-profile {
  padding: 50px 0px 50px 0px;
}
.title {
  margin-top: 0px;
}
.work-section{
  background-color: #303030;
  
  color : #ffffff;
}
.work-section h3{
 font-size: 40px;
 padding-bottom: 40px;
}
.work-ex{
  padding-top: 28px !important;
  padding-bottom: 28px !important;
  padding-left: 48px !important;
  padding-right: 48px !important;
  min-height: 500px;
  background-color: #363636;
}
.work-edu{
  padding-top: 28px !important;
  padding-bottom: 28px !important;
  padding-right: 48px !important;
  padding-left: 48px !important;
  min-height: 500px;
  background-color: #4b4b4b;
}
.contact-section{
  padding-top: 28px !important;
  padding-bottom: 28px !important;
  padding-left: 48px !important;
  padding-right: 48px !important;
  min-height: 500px;
  background-color: #181818;
  /* background-image: url("../Pic/course-1.jpg"); */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  color : #ffffff;
}
.contact-section h3{
  font-size: 40px;
  padding-bottom: 20px;
 }
.navbar-brand{
  color: #fff;
}
.contact{
  margin-bottom: 20px;
  
}
.map-test{
  
}